<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.board.mapper.BoardMapper">

	    <!-- 게시글 리스트 불러오는 처리 -->
	    <select id="qrySelectList"  resultType="com.board.vo.BoardVo">
	         SELECT
	            A.IDX 
	         	,  A.TITLE
	         	,  DATE_FORMAT(A.REGDATE, '%Y-%m-%d %H:%i:%s') AS REGDATE
	         	,  A.COUNT
	         	,  A.WRITER
	         	,  B.CONTENTS_TITLE
	         	,  B.CONTENTS_URL
	         	,  B.GRADES
	         FROM SPABOARD.TB_BOARD A
	         INNER JOIN SPABOARD.TB_NETFLIX B
	         ON A.IDX = B.BOARD_NO
	         <if test="srchTxt != null and srchTxt != ''">
                  <choose>
                      <when test='srchType eq "conTit"'>
                          WHERE B.CONTENTS_TITLE LIKE CONCAT('%', #{srchTxt}, '%')
                      </when>
                      <when test='srchType eq "revTit"'>
                          WHERE A.TITLE LIKE CONCAT('%', #{srchTxt}, '%')
                      </when>
                      <when test='srchType eq "writer"'>
                          WHERE A.WRITER LIKE CONCAT('%', #{srchTxt}, '%')
                      </when>
                  </choose>
             </if>
	         ORDER BY REGDATE DESC
	         LIMIT #{page}, #{amount}
    	</select>	
    	
    	
    	<!-- 게시글 총 개수 가져오는 처리 -->
    	<select id="qryTotalCount" resultType="integer">
    		SELECT 
    			COUNT(*)
    		FROM SPABOARD.TB_BOARD
			<if test="srchTxt != null and srchTxt != ''">
                  <choose>
                      <when test='srchType eq "conTit"'>
                          WHERE CONTENTS_TITLE LIKE CONCAT('%', #{srchTxt}, '%')
                      </when>
                      <when test='srchType eq "revTit"'>
                          WHERE TITLE LIKE CONCAT('%', #{srchTxt}, '%')
                      </when>
                      <when test='srchType eq "writer"'>
                          WHERE WRITER LIKE CONCAT('%', #{srchTxt}, '%')
                      </when>
                  </choose>
             </if>
    	</select>
    	
    	
    	<!-- 글 등록 처리(게시판) -->
  	    <insert id="insContent" useGeneratedKeys="true" keyProperty="idx">
			INSERT INTO SPABOARD.TB_BOARD (	
	   				TITLE 
	   				, CONTENTS
	   				, REGDATE
	   				, UPDDATE
	   				, COUNT
	   				, WRITER
	   		)
	    	VALUES (
		    	   #{title} 
		           , #{contents}
		           , now()
		           , now()
		           , #{count}
		           , #{writer} )
    	</insert>
    	
    	
    	 <!-- 글 등록 처리(넷플릭스) -->
  	    <insert id="insNetContent">
			INSERT INTO SPABOARD.TB_NETFLIX (		
	   				BOARD_NO
	   				, CONTENTS_TITLE
	   				, GRADES
	   				, CONTENTS_URL
	   		)
	    	VALUES (
		           #{idx}
		           , #{contents_title}
		           , #{grades}
		           , #{contents_url} )
    	</insert>
    	
    	
    	<!-- 글 정보 가져오기 -->
    	<select id="qryDetail" resultType="com.board.vo.BoardVo">
			SELECT
			    A.IDX				
			    , A.TITLE				
			    , A.CONTENTS			
			    , A.REGDATE			
			    , A.COUNT				
			    , A.WRITER			
			    , B.GRADES
			    , B.CONTENTS_TITLE
			    , B.CONTENTS_URL
			    , C.FILE_IDX
			    , C.ORIGIN_NAME
			FROM SPABOARD.TB_BOARD A
			INNER JOIN SPABOARD.TB_NETFLIX B 
			ON A.IDX = B.BOARD_NO
			LEFT JOIN SPABOARD.TB_FILE C
			ON A.IDX = C.BOARD_NO
			WHERE A.IDX = #{idx}
    	</select>
    	
    	
    	<!-- 글 삭제하기 -->
    	<delete id="qryDelete">
    		DELETE FROM SPABOARD.TB_BOARD
    		WHERE IDX = #{idx}
    	</delete>
    	
    	
    	<!-- 컨텐츠 정보 삭제하기 -->
    	<delete id="qryDelContents">
    		DELETE FROM SPABOARD.TB_NETFLIX
    		WHERE BOARD_NO = #{idx}
    	</delete>
    	
    	
    	<!-- 글 수정하기 -->
    	<update id="qryUpdate">
    		UPDATE SPABOARD.TB_BOARD
    		SET     TITLE            =  #{title}
	    		 ,  CONTENTS         =  #{contents}
    			 ,  UPDDATE          =  now()
    		WHERE IDX = #{idx}
    	</update>
    	
    	
    	<!-- 컨텐츠정보 수정하기 -->
    	<update id="qryUpdContents">
    		UPDATE SPABOARD.TB_NETFLIX
    		SET     CONTENTS_TITLE   =  #{contents_title}
    			 ,  CONTENTS_URL     =  #{contents_url}
	    		 ,  GRADES           =  #{grades}
    			 ,  UPDDATE          =  now()
    		WHERE BOARD_NO = #{idx}
    	</update>
    	
    	
    	<!-- 글 조회수 올리기 -->
    	<update id="qryCountUp">
    		UPDATE SPABOARD.TB_BOARD
    		SET    COUNT = COUNT + 1
    	    WHERE IDX = #{idx}
    	</update>
    	
    	
    	<!-- 파일정보 저장 -->
    	<insert id="insFileUpload">
			INSERT INTO SPABOARD.TB_FILE (	
	   				BOARD_NO 
	   				, FILE_NAME
	   				, ORIGIN_NAME
	   				, FILE_PATH
	   				, FILE_TYPE
	   				, REGDATE
	   				, UPDDATE
	   		)
	    	VALUES (
		    	   #{board_no} 
		           , #{file_name}
		           , #{origin_name}
		           , #{file_path}
		           , #{file_type} 
		           , now()
		           , now()	)
    	</insert>
    	
    	
    	<!-- 파일정보 불러오기 -->
    	<select id="qryFileInfo" resultType="com.board.vo.FileVo">
    		SELECT 
    			FILE_PATH
    			, ORIGIN_NAME 
    		FROM SPABOARD.TB_FILE
    		WHERE FILE_IDX = #{fileIdx}
    	</select>
	
</mapper>